<div class="container ta-c footer">
  <a href="#">What will I get?</a>
  <a href="#">Why would I want that?</a>
  <a href="#">Is it really free?</a>
  <a href="#">I'd lke to donate!</a>
  <a href="#">I want to sumit content!</a>
  <a href="#">Icon contributions!</a>
</div>