<div class="container header">
  <h2 class="header__subtitle">hello there</h2>
  <h1 class="header__title">
    <span class="header__text--dark">{{ greeting.word1 }}</span>
    <span class="header__text--primary">{{ greeting.word2 }}!</span>
  </h1>
</div>