<div class="user-info">
  {{#if user.name }}
  <div class="user-info__name">Hello, {{ user.name }}</div>
  {{/if}}
</div>

<div class="top-logo">
  <a href="/" class="top-logo__link">
    <div class="top-logo__logo sprite"></div>
    <span class="top-logo__label top-logo__label--dark">awww.</span><span class="top-logo__label top-logo__label--primary">ooo</span>
  </a>
</div>
