
{{> logo}}

{{> greeting-header}}

{{> line }}

{{> cute-img }}

<div class="container tagline">
  <div class="tagline__text tagline__text--primary">
    You have already confirmed this email, silly!
  </div>

  <div class="tagline__text tagline__text--dark">
    Go to your email and click the link we've sent you to login.
  </div>

</div>

{{> line }}

{{> footer }}

{{> footer-bottom }}
