
{{> logo}}

{{> greeting-header}}

{{> line }}

{{> cute-img }}

<div class="container tagline">
  <div class="tagline__text tagline__text--dark">
    Thanks for confirming your account!
  </div>
  
  <div class="tagline__text tagline__text--primary">
    Please tell us when you'd like to receive cute photos in the day.
  </div>
</div>

<div class="container section ta-c">
  <div class="section__control ta-c">
    <div class="section__control__label">Time of the day when we should email you:</div>
    <input type="time" id="clockpicker"><br>
    <button class="button btn-gelatine save-preferences submit-button">
      <div class="submit-button__text">Save</div>
      <div class="submit-button__loading">Saving...</div>
    </button>
    <div class="form-message"></div>
  </div>
</div>

{{> line }}

{{> footer }}

{{> footer-bottom }}

<script>
  $(function() {
    var hash = '{{{ hash }}}';

    $('#clockpicker').clockpicker({
        autoclose: true,
        donetext: 'Okay!'
    });

    $('.save-preferences').on('click', function() {
      var localTime = $('#clockpicker').val();

      $('.submit-button + .form-message').text('').hide();

      if(!localTime) {
        $('.submit-button + .form-message').text('Gotta provide the time!').show();
        return;
      }

      var hours = localTime.split(':')[0];
      var minutes = localTime.split(':')[1];
      var utcTime = moment().hours(hours).minutes(minutes).utc().format('HH:mm');

      if(!utcTime) {
        $('.submit-button + .form-message').text('Please choose a valid time :)').show();
        return;
      }

      $('.submit-button').addClass('submit-button--loading');

      $.ajax({
        method: 'POST',
        url: '/user/preferences',
        data: {
          time: utcTime,
          hash: hash
        },
        success: function(data) {
          var message = data.data ? data.data.message : data.error;
          $('.submit-button + .form-message').text(message).show();
          $('.submit-button').removeClass('submit-button--loading');
        },
        error: function(err) {
          var error = err.error;
          $('.submit-button + .form-message').text(error).show();
          $('.submit-button').removeClass('submit-button--loading');
        }
      });
    })
  })
</script>