
{{> logo}}

{{> greeting-header}}

{{> line }}

<div class="container tagline">
  <div class="tagline__text tagline__text--primary cuteness__fireworks">
    Here's your cute photo!
  </div>

  <div class="tagline__text tagline__text--explain">
    Please take a moment to properly enjoy it.
  </div>
</div>

<div class="container cuteness-image">
  <img src="http://www.cutestpaw.com/wp-content/uploads/2011/11/cute-cat.jpg" alt="">
</div>

{{> line }}

{{> footer }}

{{> footer-bottom }}