
{{> logo}}

{{> greeting-header}}

{{> line }}

{{> cute-img }}

<div class="container tagline">
  <div class="tagline__text tagline__text--dark">
    That's an error!
  </div>

  <div class="tagline__text tagline__text--primary">
    Well, seems we couldn't find what you were looking for.
  </div>

  <div class="tagline__text tagline__text--dark">
    Would you care going back to the <a href="/">home page?</a>
  </div>

</div>

{{> line }}

{{> footer }}

{{> footer-bottom }}

