
{{> animal-images}}

{{> logo}}

{{> greeting-header}}

{{> line }}

{{> cute-img }}

<div class="container tagline">
  <div class="tagline__text tagline__text--dark">
    Would you like to get
  </div>

  <div class="tagline__text tagline__text--primary">
    <a href="#">cute animal photos*</a>
  </div>

  <div class="tagline__text tagline__text--dark">
    in your inbox
  </div>

  <div class="tagline__text tagline__text--primary">
    <a href="#">every day?</a>
  </div>

  <div class="tagline__text tagline__text--explain">
    * lovingly handpicked
  </div>
</div>

{{> line }}

<div class="container subscribe">
  <div class="subscribe__header">
    <h3 class="subscribe__header__title">Subscribe Now!</h3>
    <p class="subscribe__header__tagline">It's <span class="fw-b">100%</span> free*.</p>
    <p class="subscribe__header__tagline">Unsubscribe <span class="fw-b">anytime.</span></p>
    <p class="subscribe__header__tagline--explain">*<a href="/pricing/companies">are you a company?</a></p>
  </div>
  <div class="subscribe__form">
    <input type="text" class="subscribe__username" name="name" placeholder="Your name">
    <div class="tooltip">Invalid name</div><br>
    <input type="text" class="subscribe__email" name="email" placeholder="Your email">
    <div class="tooltip">Invalid email</div><br>
    <button type="button" class="subscribe__submit submit-button btn-gelatine">
      <div class="submit-button__text">Gimme the Cuteness!</div>
      <div class="submit-button__loading">Creating your account...</div>
    </button>
    <div class="form-message"></div>
  </div>
</div>

{{> footer }}

{{> footer-bottom }}

<script>
  $(function() {
    $('.subscribe__submit').on('click', function() {
      var username = $('.subscribe__username').val();
      var email = $('.subscribe__email').val();

      $('.subscribe__submit + .form-message').text('').hide();
      $('.subscribe__username')[username ? 'removeClass' : 'addClass']('input--invalid');
      $('.subscribe__email')[email ? 'removeClass' : 'addClass']('input--invalid');

      if(!email || !username) {
        return;
      }

      $('.submit-button').addClass('submit-button--loading');

      $.ajax({
        method: 'POST',
        url: '/user/subscribe',
        data: {
          name: username,
          email: email
        },
        success: function(data) {
          var message = data.data ? data.data.message : data.error;
          $('.subscribe__submit + .form-message').text(message).show();
          $('.submit-button').removeClass('submit-button--loading');
        },
        error: function(err) {
          var error = err.error;
          $('.subscribe__submit + .form-message').text(error).show();
          $('.submit-button').removeClass('submit-button--loading');
        }
      })
    })
  })
</script>